:root {
    --scrollbar-gradient: linear-gradient(45deg, #108ca6, #2c98ca, #45a3ec);
}

* {
    scrollbar-width: 6px;
    scrollbar-color: var(--scrollbar-gradient);
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-gradient);
    border-radius: 20px;
}
